:root.theme-light {
  --bg-image: url('../images/cover-image-light.png');
  --bg-color: rgba(255, 241, 247, 1);
  --header-title-color: rgba(255, 194, 230, 1);
  --accent-color: rgba(255, 141, 203, 1);
  --main-text: rgba(53, 52, 48, 1);
  --nav-decorative-color: rgba(53, 52, 48, 1);
  --sub-title-color: rgba(53, 52, 48, 1);
  --hover-color: rgba(50, 49, 45, 0.4);
  --section-heading-color: rgba(53, 52, 48, 1);
}

.theme-light .record {
  display: none;
}
.theme-light .record::after {
  display: none;
}

@media (prefers-color-scheme: light) {
  :root {
    --bg-image: url('../images/cover-image-light.png');
    --bg-color: rgba(255, 241, 247, 1);
    --header-title-color: rgba(255, 194, 230, 1);
    --accent-color: rgba(255, 141, 203, 1);
    --main-text: rgba(53, 52, 48, 1);
    --nav-decorative-color: rgba(53, 52, 48, 1);
    --sub-title-color: rgba(53, 52, 48, 1);
    --hover-color: rgba(50, 49, 45, 0.4);
    --section-heading-color: rgba(53, 52, 48, 1);
  }

  .record {
    display: none;
  }
  .record::after {
    display: none;
  }
}
