:root.theme-light {
  --bg-image: none;
  --bg-color: rgba(255, 241, 247, 1);
  --font: "IBM Plex mono", sans-serif;
  --header-title-color: rgba(255, 194, 230, 1);
  --accent-color: rgba(255, 141, 203, 1);
  --main-text: rgba(53, 52, 48, 1);
  --nav-decorative-color: rgba(53, 52, 48, 1);
  --sub-title-color: rgba(53, 52, 48, 1);
  --hover-color: rgba(50, 49, 45, 0.4);
}

:root.theme-light.record {
  display: none;
}
:root.theme-light.record::after {
  display: none;
}

@media (prefers-color-scheme: light) {
  :root {
    --bg-image: none;
    --bg-color: rgba(255, 241, 247, 1);
    --font: "IBM Plex mono", sans-serif;
    --header-title-color: rgba(255, 194, 230, 1);
    --accent-color: rgba(255, 141, 203, 1);
    --main-text: rgba(53, 52, 48, 1);
    --nav-decorative-color: rgba(53, 52, 48, 1);
    --sub-title-color: rgba(53, 52, 48, 1);
  }

  .record {
    display: none;
  }

  .theme-light.record::after {
    display: none;
  }
}
