.page {
  background-color: var(--bg-color);
  background-attachment: fixed;
}

.header {
  block-size: 100vh;
  min-block-size: 668px;
  display: grid;
  grid-template-rows: 1fr min-content 1fr;
  position: relative;
  background-image: var(--bg-image);
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
  padding: 10px;
  padding-inline-end: 10px;
  margin-block-end: 40px;
}

.decorated-zone::before {
  content: "";
  position: absolute;
  top: 10px;
  right: 10px;
  display: block;
  width: 24px;
  height: 24px;
  border-top: 1px solid var(--nav-decorative-color);
  border-right: 1px solid var(--nav-decorative-color);
}
.decorated-zone::after {
  content: "";
  position: absolute;
  bottom: 10px;
  left: 10px;
  display: block;
  width: 24px;
  height: 24px;
  border-bottom: 1px solid var(--nav-decorative-color);
  border-left: 1px solid var(--nav-decorative-color);
}

.record {
  display: inline;
  block-size: 26px;
  inline-size: 68px;
  text-transform: uppercase;
  color: var(--accent-color);
  font-weight: 400;
  line-height: 1.5em;
  text-align: center;
  justify-self: end;
  position: absolute;
  top: 11px;
  right: 21px;
}

.record::after {
  content: "";
  display: inline;
  position: absolute;
  top: 50%;
  right: 0px;
  transform: translateY(-50%);
  width: 9px;
  height: 9px;
  border-radius: 50%;
  background-color: var(--accent-color);
  box-shadow: 0 0 4px 2px var(--accent-color);
  margin-inline-start: 5px;
}

.header__theme-menu {
  grid-row: 1;
  align-self: center;
  justify-self: end;
}

.header__theme-menu-list {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.header__theme-menu-item {
  list-style: none;
}

.header__theme-menu-button {
  text-transform: lowercase;
  font-weight: 400;
  font-size: 18px;
  text-align: center;
  color: var(--nav-decorative-color);
  background-color: transparent;
  border: none;
  padding: 1px 13px;
  display: flex;
  align-items: center;
  justify-content: center;
  min-block-size: 26px;
  inline-size: 70px;
  line-height: 1;
  vertical-align: baseline;
  outline: none;
}

.header__theme-menu-button:hover {
  border: 1px solid var(--hover-color);
}

.header__theme-menu-button:active {
  border: 1px solid var(--nav-decorative-color);
}

.header__theme-menu-button:focus {
  outline: none;
  border-bottom: 1px solid var(--nav-decorative-color);
}

.header__theme-menu-button:has(.header__theme-menu-button_active) {
  border: 1px solid var(--nav-decorative-color);
  pointer-events: none;
}

.title {
  grid-row: 2;
  font-weight: 700;
  font-size: clamp(7.25rem, 7.0115rem + 1.0178vw, 7.5rem);
  line-height: 83%;
  color: var(--header-title-color);
  text-shadow: 4px 4px 0 var(--accent-color);
}

.sub-title {
  grid-row: 3;
  align-self: center;
  block-size: min-content;
  font-weight: 700;
  font-size: 18px;
  line-height: 23.4px;
  text-wrap: wrap;
}

.sub-title-decor {
  background-color: var(--accent-color);
  color: var(--sub-title-color);
}

.main {
  margin-inline-start: 10px;
  margin-inline-end: 10px;
}
.article {
  display: flex;
  flex-direction: column;
  margin-block-end: 20px;
}

.h2-title {
  font-weight: 700;
  font-size: 18px;
  line-height: 23.4px;
  color: var(--h2-title-color);
  margin-block-end: 20px;
}

.h4-title {
  margin-block-end: 10px;
  font-size: 18px;
  line-height: 23.4px;
  font-weight: 700;
  background-color: var(--accent-color);
  color: var(--sub-title-color);
}

 .how-to-concentrate__title .h4-title {
    margin-block-end: 20px;
  }

.main-text {
  color: var(--main-text);
  font-weight: 400;
  font-size: 18px;
  line-height: 23.4px;
}

.accent-text {
  text-shadow: 2px 2px 0 var(--accent-color);
}

.section-decoration {
  margin-block-end: 50px;
}

.section-decoration:last-child {
  margin-block-end: 40px;
}

.add-header-title {
  font-weight: 400;
}

.some-pictures {
  display: grid;
  grid-template-rows: repeat(6, min-content);
  gap: 10px;
}
.picture {
  block-size: auto;
  inline-size: 100%;
  object-fit: cover;
  object-position: center;
}

.header-some-pictures {
  margin-block-end: 0;
}

.footer {
  block-size: 100vh;
  min-block-size: 668px;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}

.footer .title {
  text-shadow: 2px 2px 0 var(--accent-color);
}

@media (width >= 768px) {
  .main {
    margin-inline-start: 20px;
    margin-inline-end: 20px;
  }

  .header {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr min-content 1fr;
    position: relative;
    padding: 20px;
    margin-block-end: 60px;
  }
  .decorated-zone::before {
    top: 20px;
    right: 20px;
  }

  .decorated-zone::after {
    bottom: 20px;
    left: 20px;
  }

  .record {
    top: 21px;
    right: 31px;
  }

  .header__theme-menu {
    grid-column: 2;
  }

  .sub-title {
    grid-column: 2;
  }

  .title {
    grid-area: 2 / 1 / 3 / 3;
    font-size: 120px;
    margin-inline-start: -21px;
  }

  .difficult-concentrate {
    display: grid;
    grid-template-columns: 1fr 2fr;
    gap: 20px;
  }

  .difficult-concentrate__title {
    grid-area: 1 / 1 / 1 / 1;
  }

  .difficult-concentrate .article {
    grid-column: 2;
  }

  .reduces-concentration {
    display: grid;
    grid-template-columns: min-content 2fr;
    grid-template-rows: repeat(4, auto);
    gap: 20px;
  }

  .reduces-concentration .h2-title {
    grid-row: 1;
    grid-column: 1 / 2;
    margin-block-end: 0;
  }

  .reduces-concentration .article {
    grid-column: 1 / 3;
  }

  .how-to-concentrate {
    display: grid;
    grid-template-columns: 1fr 2fr;
    grid-template-rows: repeat(6, auto);
    gap: 20px;
    margin-block-end: 60px;
  }

  .how-to-concentrate__title {
    grid-column: 1;
  }

  .how-to-concentrate .article {
    grid-column: 2;
  }

  .add-header-title {
    margin-block-start: 0;
  }

  .article {
    margin-block-end: 0;
  }

  .how-to-concentrate__title .h4-title {
    margin-block-end: 20px;
  }

  .how-to-concentrate__title .add-header-title {
    margin-block-end: 10px;
  }

  .some-pictures {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(4, auto);
    gap: 20px;
  }

  .picture {
    object-fit: cover;
    height: 100%;
  }

  .header-some-pictures {
    grid-column: 1 / -1;
  }

  .sunset {
    grid-row: 2;
    grid-column: 1 / 3;
  }

  .ice-cream {
    grid-row: 2 / 4;
    grid-column: 3 / 4;
  }

  .tape {
    grid-row: 3 / 5;
    grid-column: 1;
  }

  .books {
    grid-row: 3;
    grid-column: 2;
  }

  .street {
    grid-area: 4 / 2 / 4 / 4;
  }

  .focus {
    margin-inline-start: 0;
  }
  .section-decoration {
    margin-block-end: 80px;
  }

  .section-decoration:last-child {
    margin-block-end: 60px;
  }
}

@media (width >= 1024px) {
  .header__theme-menu {
    grid-column: 1 / 3;
    align-self: start;
    justify-self: center;
  }

  .header__theme-menu-list {
    flex-direction: row;
  }

  .title {
    font-size: 157px;
  }

  .sub-title {
    block-size: initial;
  }

  .reduces-concentration {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 1fr;
    gap: 20px;
  }

  .reduces-concentration .h2-title {
    grid-row: 1;
    grid-column: 1;
    margin-block-end: 0;
  }

  .reduces-concentration .article {
    grid-row: 2;
    grid-column: auto;
  }

  .how-to-concentrate {
    display: grid;
    grid-template-columns: 1fr 2fr;
    grid-template-rows: repeat(6, auto);
    gap: 20px;
  }

  .how-to-concentrate__title {
    grid-column: 1;
  }

  .how-to-concentrate .article {
    grid-column: 2;
  }

  .add-header-title {
    margin-block-start: 0;
  }
}
