:root {
  --bg-color: rgba(0, 0, 40, 1);
  --bg-image: url('/images/cover-image-dark.png');
  --font: 'IBM Plex mono', sans-serif;
  --header-title-color:  rgba(219, 0, 255, 1);
  --accent-color: rgba(255, 0, 112, 1);
  --nav-decorative-color: rgba(255, 0, 112, 1);
  --sub-title-color: rgba(0, 0, 40, 1);
  --main-text:rgba(241, 178, 206, 1);
  --hover-color:rgba(255, 0, 112, 0.4);
  --h2-title-color:rgba(255, 0, 112, 1);
}